<div class="dashboard">
  <div class="dashboard-grid">
    <div class="grid-item">
      <app-navigation-chart></app-navigation-chart>
    </div>
    <div class="grid-item">
      <app-service-renewal-chart></app-service-renewal-chart>
    </div>
    <div class="grid-item">
      <app-top-vessels-chart></app-top-vessels-chart>
    </div>
    <div class="grid-item">
      <app-analysis-chart></app-analysis-chart>
    </div>
    <div class="grid-item">
      <app-annual-window-chart></app-annual-window-chart>
    </div>
    <div class="grid-item">
      <app-account-overview-chart></app-account-overview-chart>
    </div>
  </div>
</div>